.bank
    .container
        .bank__head
            h3.bank__h Честная рассрочка
            .bank__att.sm-full
                +icon('attention')
                | Проценты банку выплачиваем мы
        .bank__content
            .bank__content__col
                .bank__payments
                    .bank__payments__item
                        span.bank__payments__item__accent 0%
                        | Первоначаль&shy;ный взнос
                    .bank__payments__item
                        span.bank__payments__item__accent 0%
                        | Переплат
                    .bank__payments__item
                        span.bank__payments__item__accent 10
                        | месяцев рассрочки
                .bank__rules
                    a.bank__rules__link(href='docs/Rassrochka_SAKSES.pdf' target='_blank') Условия рассрочки для клиентов САКСЭС [PDF, 98 KB]
            .bank__content__col
                ul.bank__list
                    li.bank__list__item Качественные окна сейчас — оплата потом
                    li.bank__list__item Без залогов, поручителей и процентов  
                    li.bank__list__item Оформляется в офисе продаж САКСЭС.
                a.btn.bank__btn.js-popup(href='#bank') Оставить заявку
