mixin tooltip()
    span.tooltip
        i.icon-help
        span(class='tooltip__content ' + attributes.type)
            span.tooltip__text=attributes.text
            span.tooltip__img
                img(src=attributes.image)