div(id='call')
    .container
        .calc
            h3.calc__h Заказать обратный звонок
            .calc__lead Оставьте ваш номер и наш специалист с вами свяжется, поможет с выбором и произведет оперативный расчет необходимой конфигурации окон.
            form.calc__form.js-form
                .input-group
                    input(name='email' value='user@host.com' hidden)
                    input(name='text' value='info' hidden)
                    input(name='email3' value='info@example.com' hidden)
                    input(name='form_id' value='3' hidden)
                    input(name='form_name' value='Заказать обратный звонок' hidden)
                    input.input.js-mask(name='phone' required autocomplete='off')
                    button.btn Оставить заявку
                .form-desc Оставьте ваш номер телефона и мы перезвоним вам, а также согласуем бесплатный выезд специалиста в удобное для вас время.