.config {
    padding-top: 44px;
    @include media-breakpoint-up(lg) {
        padding-bottom: 70px;
    }
    &__intro-bg {
        background-color: #f5f5f5;
        padding: map-get($container-paddings, sm);
        line-height: 18px;
        font-size: 13px;
        text-align: center;
        margin-left: - map-get($container-paddings, sm);
        margin-right: - map-get($container-paddings, sm);
        margin-bottom: 26px;
        @include media-breakpoint-up(md) {
            line-height: 23px;
            font-size: 16px;
            margin-left: - map-get($container-paddings, md);
            margin-right: - map-get($container-paddings, md);
            margin-bottom: 36px;
            padding-left: 10%;
            padding-right: 10%;
        }
        @include media-breakpoint-up(lg) {
            line-height: 26px;
            font-size: 18px;
            margin-left: auto;
            margin-right: auto;
            width: 1048px;
            margin-bottom: 66px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__intro-h {
        font-weight: 600;
        font-size: 17px;
        text-align: center;
        margin-bottom: 18px;
        @include media-breakpoint-up(md) {
            line-height: normal;
            font-size: 22px;
            margin-bottom: 26px;
            padding-left: 10%;
            padding-right: 10%;
        }
        @include media-breakpoint-up(lg) {
            font-size: 25px;
            margin-bottom: 32px;
        }
    }
    &__intro-text {
        line-height: 19px;
        font-size: 13px;
        text-align: center;
        margin-bottom: 30px;
        @include media-breakpoint-up(md) {
            line-height: 22px;
            font-size: 15px;
            margin-bottom: 36px;
            padding-left: 10%;
            padding-right: 10%;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 58px;
        }
    }
}

.config-list {
    margin-left: - map-get($container-paddings, sm);
    margin-right: - map-get($container-paddings, sm);
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
        margin-left: - map-get($container-paddings, md);
        margin-right: - map-get($container-paddings, md);
        margin-bottom: 0;
    }
    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .config-list-item {
        @include media-breakpoint-up(md) {
            margin-bottom: 15px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .swiper-container {
        padding-left: map-get($container-paddings, sm);
        padding-right: map-get($container-paddings, sm);
    }
    .swiper-wrapper {
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
    .swiper-pagination {
        position: relative;
        bottom: auto;
        margin-top: 18px;
        margin-bottom: 10px;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    .swiper-fraction {
        font-weight: 500;
        line-height: 21px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #C2BBCD;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.config-list-item {
    $root: &;
    background-color: #EDF6FC;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
        background-color: transparent;
        padding-top: 30px;
        padding-left: map-get($container-paddings, md);
        padding-right: map-get($container-paddings, md);
        padding-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
        border-radius: 7px;
    }
    &__h {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 13px;
        height: 36px;
        display: flex;
        align-items: center;
        @include media-breakpoint-up(md) {
            font-size: 25px;
            margin-bottom: 27px;
            width: 460px;
            height: auto;
            display: block;
        }
        @include media-breakpoint-up(lg) {
            width: auto;
        }
    }
    &__badge {
        @include media-breakpoint-down(sm) {
            display: none;
        }
        position: absolute;
        right: map-get($container-paddings, md);
        top: map-get($container-paddings, md);
        color: $color-bg;
        font-weight: 600;
        line-height: 50px;
        font-size: 16px;
        border-radius: 25px;
        padding: 0 7px;
        @include ie10up {
            height: 50px;
        }
        .svgsprite {
            font-size: 39px;
            color: transparent;
        }
        &__text {
            padding: 0 10px;
        }
    }
    &__togglers {
        margin-bottom: 18px;
        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
        &__item {
            font-weight: 700;
            font-size: 12px;
            line-height: 25px;
            color: $color-primary;
            padding: 0 8px 1px;
            border: 1px solid $color-primary;
            border-radius: 3px;
            cursor: pointer;
            display: inline-block;
            margin-right: 5px;
            @include transition(all);
            &:last-child {
                margin-right: 0;
            }
            &__inner {
                border-bottom: 1px dashed;
                text-transform: capitalize;
                @include media-breakpoint-up(md) {
                    text-transform: none;
                }
            }
            @include ie10up {
                height: 27px;
            }
            &._active, &:hover {
                background-color: $color-primary;
                color: $color-bg;
                #{$root}__togglers__item__inner {
                    border-bottom-width: 0;
                }
            }
            &._active {
                cursor: default;
                pointer-events: none;
            }
            &._title {
                color: $color-text;
                cursor: default;
                padding: 0;
                border-width: 0;
                &:hover {
                    background-color: transparent;
                }
                @include media-breakpoint-up(md) {
                    display: none;
                }
            }
            @include media-breakpoint-up(md) {
                font-size: 16px;
                line-height: 36px;
                padding: 0 12px;
                margin-right: 11px;
                @include ie10up {
                    height: 38px;
                }
            }
        }
    }
    &__img-wrapper {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 15px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, #EDF6FC 0%, rgba(237, 246, 252, 0) 100%);
        }
        @include media-breakpoint-up(md) {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(90.27deg, #EDF6FC 0.14%, rgba(237, 246, 252, 0.3) 99.86%);
                z-index: 1;
            }
            &:after {
                right: 183px;
                background: linear-gradient(90.21deg, #EDF6FC 0.14%, rgba(237, 246, 252, 0) 99.86%);
                opacity: 0.7;
                z-index: 1;
                @include media-breakpoint-up(lg) {
                    right: 396px;
                }
            }
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__img {
        display: block;
        width: 100%;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    @each $key, $color in $config-colors {
        &._#{$key} {
            #{$root}__h {
                color: $color;
            }
            #{$root}__badge {
                background-color: $color;
            }
            #{$root}__img-wrapper {
                background-image: url(/img/config/#{$key}-md-o.jpg);
                @include media-breakpoint-up(lg) {
                    background-image: url(/img/config/#{$key}-lg-o.jpg);
                }
            }
        }
    }
    &__list {
        font-weight: 500;
        line-height: 27px;
        font-size: 15px;
        color: $color-primary;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            font-size: 17px;
            line-height: 25px;
        }
        &__item {
            padding-left: 30px;
            margin-bottom: 15px;
            @include media-breakpoint-up(md) {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                left: 6px;
                top: 10px;
                background-color: $color-primary;
                @include media-breakpoint-up(md) {
                    top: 8px;
                }
            }
        }
    }
    &__feats {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 9px;
        @include media-breakpoint-up(md) {
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 20px;
            padding-right: 220px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            padding-right: 0;
        }
        &__item {
            padding-left: 25px;
            margin-bottom: 9px;
            @include media-breakpoint-up(md) {
                padding-left: 30px;
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: '\e810';
                font-family: 'fontello';
                position: absolute;
                left: 0;
                color: $color-secondary;
                font-size: 15px;
                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }
            }
            &__accent {
                font-weight: 600;
                color: $color-secondary-dark;
                @include media-breakpoint-up(md) {
                    display: block;
                }
                .tooltip {
                    line-height: 19px;
                }
            }
        }
    }
    &__feats-wrapper {
        height: 95px;
        margin-bottom: 15px;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            left: -15px;
            right: -15px;
            top: 0;
            bottom: 0;
            background: linear-gradient(to top, #EDF6FC 3.94%, rgba(237, 246, 252, 0) 96.2%);
            @include transition(opacity);
        }
        &._active {
            &:after {
                opacity: 0;
            }
        }
        @include media-breakpoint-up(md) {
            height: auto !important;
            margin-bottom: 0;
            &:after {
                content: none;
            }
        }
        &__inner {
            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: flex-end;
            }
        }
    }
    &__cut {
        font-weight: 500;
        font-size: 12px;
        color: $color-primary;
        margin-bottom: 23px;
        @include transition(opacity);
        &__inner {
            cursor: pointer;
            border-bottom: 1px dashed;
            &:hover {
                opacity: .8;
            }
        }
        [class^="icon-"]:before {
            @include transition(transform);
        }
        &._active {
            [class^="icon-"]:before {
                transform: rotate(.5turn);
            }
        }
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    &__price {
        margin-bottom: 24px;
        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
            text-align: right;
            position: absolute;
            top: 106px;
            right: map-get($container-paddings, md);
        }
        &__desc {
            display: block;
            font-weight: 500;
            line-height: 18px;
            font-size: 12px;
            color: $color-primary;
            @include media-breakpoint-up(md) {
                font-size: 15px;
                line-height: 21px;
            }
        }
        &__cost {
            display: block;
            font-weight: 700;
            font-size: 29px;
            color: $color-primary;
            margin-bottom: 8px;
            @include media-breakpoint-up(md) {
                font-size: 44px;
            }
        }
        &__payment {
            display: inline-block;
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            background-color: $color-bg;
            color: $color-secondary;
            border-radius: 10.5px;
            padding: 0 10px;
            &__accent {
                font-weight: 700;
            }
            @include ie10up {
                height: 21px;
            }
            @include media-breakpoint-up(md) {
                right: -8px;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
    &__btn {
        @include media-breakpoint-up(md) {
            position: absolute;
            right: map-get($container-paddings, md);
            bottom: map-get($container-paddings, md);
            width: 230px;
        }
    }
}