include item
.step
    .step__bg(style='background-image:url(img/step/bg.jpg)')
    .container
        .step__h 4 шага к 
            strong.color-secondary здоровью вашей семьи
        .step__list
            +item(
                step=1
                text='Вызов эксперта по эко‑инжинирингу'
            )
            +item(
                step=2
                text='Исследование микроклимата вашего помещения. Сравнение с нормативными показаниями'
            )
            +item(
                step=3
                text='Рекомендация оптимального варианта остекления'
            )
            +item(
                step=4
                text='Заключение договора в день замера с дополнительной скидкой.'
            )
