mixin footer(options)
    footer.footer
        .container._xl
            .footer__head
                .footer__col._1
                    img.footer__logo(src='img/logo.svg' alt='САКСЭС')
                .footer__col._3
                    a.btn._secondary._for-white.js-popup(href='#call') Получить консультацию
                .footer__col._4
                    ul.footer__menu
                        li.footer__menu__item._1 
                            a(href='#climate') Микроклимат в вашем доме
                        li.footer__menu__item._2 
                            a(href='#eco') Эко-инжиниринг
                        li.footer__menu__item._3
                            a(href='#config') Комплектации окон
                        li.footer__menu__item._4
                            a(href='#man') Производство
                        li.footer__menu__item._5
                            a(href='#tech') Технологии эко-окон
            .footer__foot
                .footer__col._1
                    p.footer__text 
                        a(href='#') Политика в отношении обработки персональных данных
                .footer__col._2
                    p.footer__text © 2018 САКСЭС в Нижнем Новгороде
                .footer__col._3
                    p.footer__tel 
                        a(href='tel:+78314206123') 
                            +icon('tel')
                            | +7 (831) 420-61-23
                .footer__col._4
                    img.footer__madein(src='img/riverstart.svg' alt='Разработка сайта')