block variables
doctype html
html(lang=__.lang, class="no-js")
    head
        include head
    body.body
        include mixins/svgsprite
        include mixins/icon
        include mixins/tooltip
        include header
        include nav
        include footer
        
        +header
        article.content
            +nav
            block content
        +footer

        link(rel='stylesheet', href='assets/css/main.css?v=' + PACKAGE.version)
        include scripts