mixin nav()
    .nav.js-nav
        .container
            ul.nav__list
                li.nav__list__item 
                    a.nav__list__link.js-nav-link(href='#quiz') Подобрать вариант
                li.nav__list__item 
                    a.nav__list__link.js-nav-link(href='#eco') Эко-инжиниринг
                li.nav__list__item 
                    a.nav__list__link.js-nav-link(href='#compare') Сравнение
                li.nav__list__item 
                    a.nav__list__link.js-nav-link(href='#tech') Технологии
                li.nav__list__item 
                    a.nav__list__link.js-nav-link(href='#config') Комплектации
                li.nav__list_item 
                    a.nav__list__link.js-nav-link(href='#about') О производстве