mixin config-list-cut()
    .config-list-item__cut
        span.config-list-item__cut__inner.js-config__cut(data-show='Все характеристики' data-hide='Скрыть характеристики') Все характеристики
        i.icon-down