.feats._double.sm-full
    .feats__inner
        .feats__item
            .feats__item__img 
                +svgsprite('prod')
            .feats__item__text 20 лет на рынке, произвели более 1 млн окон
        .feats__item
            .feats__item__img 
                +svgsprite('warranty')
            .feats__item__text Подтвержденные 5 лет гарантии на окна
        .feats__item
            .feats__item__img 
                +svgsprite('price')
            .feats__item__text 0% рассрочка без переплат
        .feats__item
            .feats__item__img 
                +svgsprite('gost')
            .feats__item__text Сертифици&shy;рованный монтаж под ключ по ГОСТу
        .feats__item
            .feats__item__img 
                +svgsprite('tech')
            .feats__item__text Инновационные технологии. Соответствие стандарту ISO 9001
        .feats__item
            .feats__item__img 
                +svgsprite('lamination')
            .feats__item__text Цветная ламинация
        .feats__item
            .feats__item__img 
                +svgsprite('win-ark')
            .feats__item__text Функциональные окна, нестандартные формы
        .feats__item
            .feats__item__img 
                +svgsprite('clim')
            .feats__item__text Эко-инжиниринг — исследование микроклимата помещений на соотв. СанПиН