section.container.compare(id="compare")
    .heading
        h3.heading__h Сравнение обычных ПВХ окон с ЭКО-окнами САКСЭС
        
    .compare__lead 
        strong.color-secondary ЭКО-окна 
        | — умные окна спроектированные для здоровой жизни. Они теплее, защищеннее, тише, а также умеют контролировать микроклимат в вашем доме.
    h4.compare__h Что происходит в квартире 
        br
        | с обычным окном?
        
    .compare__hot-list
        .compare__hot-list__item
            .compare__hot
                .compare__hot__bg(style='background-image:url(img/compare/hot.jpg')
                p.compare__hot__h 
                    span Летом жарко
                        +icon('sun')
                p.compare__hot__text 
                    span При закрытом окне душно
                        +icon('wind-no')
                ul.compare__hot__list
                    li.compare__hot__list__item Жара в помещении
                    li.compare__hot__list__item Завядшие цветы
                    li.compare__hot__list__item Выцветшие обои
                p.compare__hot__text 
                    span При проветривании пыльно
                        +icon('wind')
                ul.compare__hot__list
                    li.compare__hot__list__item Шум с  улицы
                    li.compare__hot__list__item Пыль
                    li.compare__hot__list__item Насекомые
                    li.compare__hot__list__item Пыльца (аллергия)
        .compare__hot-list__item
            .compare__hot._cold
                .compare__hot__bg(style='background-image:url(img/compare/cold.jpg')
                p.compare__hot__h 
                    span Зимой холодно
                        +icon('snow')
                p.compare__hot__text 
                    span При закрытом окне душно
                        +icon('wind-no')
                ul.compare__hot__list
                    li.compare__hot__list__item Избыток углекислого газа
                    li.compare__hot__list__item Организму не хватает кислорода
                p.compare__hot__text 
                    span При проветривании сквозняки
                        +icon('wind')
                ul.compare__hot__list
                    li.compare__hot__list__item Теплопотери
                    li.compare__hot__list__item Перепады температур
    .compare__text.
        Также параметры влажности дома и на улице постоянно меняются, 
        уследить за этим крайне сложно, что приводит к избыточной влажности, 
        и как следствие к конденсату и плесени.
        
.compare-bg
    .compare-bg__bg
    .container
        .compare-bg__h Остались сомнения
            br
            | Тогда сравним:
        .compare-bg__row
            .compare-bg__row__col
                .compare-bg__list-h Обычное окно ПВХ
                ul.compare-bg__list
                    li.compare-bg__list__item._yes Профиль 3-х камерный 60 мм
                    li.compare-bg__list__item._yes Двухкамерный стеклопакет 32 мм
                    li.compare-bg__list__item._no Отсутствует
                    li.compare-bg__list__item._no Отсутствует
                    li.compare-bg__list__item._no Отсутствует
                    li.compare-bg__list__item._no Отсутствует
                    li.compare-bg__list__item._yes Фурнитура без дополнительной защиты
                    li.compare-bg__list__item._no Отсутствует
                    li.compare-bg__list__item._yes «Холодная» пластиковая панель 10 мм
                    li.compare-bg__list__item._no Отсутствует
                .compare-bg__badges
                    .compare-bg__badge._noise Снижение шума с улицы до 20 Дб
                    .compare-bg__badge._temp До 30% энергосбережения
                .compare-bg__balloon 
                    .compare-bg__balloon__inner Пристально следить за микроклиматом нужно самостоятельно 
            .compare-bg__row__col
                .compare-bg__list-h._secondary ЭКО-окно САКСЭС
                    span.compare-bg__list-h__muted Базовая комплектация
                ul.compare-bg__list._secondary
                    li.compare-bg__list__item._yes Профиль 5-6 камерный до 80 мм
                    li.compare-bg__list__item._yes Двухкамерный стеклопакет 40-44 мм
                    li.compare-bg__list__item._yes 2 стекла с энергосбережением
                    li.compare-bg__list__item._yes 2 камеры с аргоном
                    li.compare-bg__list__item._yes Теплая рамка (теплый край)
                    li.compare-bg__list__item._yes Функциональное покрытие
                    li.compare-bg__list__item._yes Взломостойкая фурнитура
                    li.compare-bg__list__item._yes Ручка с механизмом Secustik
                    li.compare-bg__list__item._yes Теплый откос-сендвич панель 10 / 16 мм + утепление
                    li.compare-bg__list__item._yes Дополнительное климатическое оборудование
                .compare-bg__badges
                    .compare-bg__badge._noise._secondary Снижение шума с улицы до 40 Дб
                    .compare-bg__badge._temp._secondary 100% энергосбережения
                .compare-bg__balloon._secondary 
                    .compare-bg__balloon__inner Умные окна автоматически следят за микроклиматом
        a.btn._secondary._solid._for-white.compare-bg__btn.js-popup(href='#calc' data-action='Сравнение') Рассчитать свои эко-окна
        img.compare-bg__window(src='img/compare/window.png' alt='ЭКО-окно САКСЭС')
                    